@-moz-document url-prefix("https://masiro.me/admin/novelReading") {
    /* 在此插入代码... */
    .nvl-content p {
        text-align: justify;
        text-justify: inter-ideograph ;
        line-height: 2em;
        margin: 1em 0;
        text-indent: 2em;
        font-size: 1em;
	    font-family: 'Charter', 'Source Han Serif', 'Georgia', 'Times New Roman', 'Times', 'serif';
    }
     #totop {
        display: none;
        opacity: 0;
    }

}
@-webket-document url-prefix("https://masiro.me/admin/novelReading") {
    /* 在此插入代码... */
    .nvl-content p {
        text-align: justify;
        text-justify: inter-ideograph ;
        line-height: 2em;
        margin: 1em 0;
        text-indent: 2em;
        font-size: 1em;
	    font-family: 'Charter', 'Source Han Serif', 'Georgia', 'Times New Roman', 'Times', 'serif';
    }
     #totop {
        display: none;
        opacity: 0;
    }

}
@document url-prefix("https://masiro.me/admin/novelReading") {
    /* 在此插入代码... */
    .nvl-content p {
        text-align: justify;
        text-justify: inter-ideograph ;
        line-height: 2em;
        margin: 1em 0;
        text-indent: 2em;
        font-size: 1em;
	    font-family: 'Charter', 'Source Han Serif', 'Georgia', 'Times New Roman', 'Times', 'serif';
    }
     #totop {
        display: none;
        opacity: 0;
    }

}